.title {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 4px 20px rgba(52, 73, 94, 0.1);
  border-radius: 12px;
  line-height: 30px;
  align-items: flex-start;

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    .selected {
      color: #d99e32;
    }
    .buttonAdd {
      font-size: 18px;
      text-align: right;
      // align-self: end;
      // margin-right: -40px;
      margin-left: -13px;
      font-weight: 600;
      // color: #d99e32;
    }
    .selectedLive {
      color: #d99e32;
      margin-left: 0.25rem;
    }
  }

  .subtitle {
    font-size: 24px;
    font-weight: 600;
  }

  .divider {
    border-left: 1px solid #38546d;
    height: 33px;
  }

  .button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
