.modal {
  z-index: 150;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 12px;
  max-height: calc(100vh - 300px);
  overflow: auto;
  margin-right: -10px;
  padding-right: 10px;

  .subtitle {
    font-weight: 600;
  }
}
.footer {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  .copyright {
    align-self: flex-end;
    font-size: 12px;
  }
}

.list {
  margin: 0;
  padding-inline-start: 15px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 0.25;

  .button {
    align-self: flex-end;
    font-size: 12px;
  }
}
